.Blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 3em;
  padding-right: 3em;
  box-sizing: border-box;
  padding-top: 5em;
}
.Blogs-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 60vh;
  border-radius: 1em;
  box-sizing: border-box;
  padding: 0.25em 0.25em 1em 1em;
}
.Blogs-card-img {
  border-radius: 2em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease;
  display: inline-block;
  overflow: hidden;
  top: 0;
  height: 60%;
  width: 100%;
}
.Blogs-card-img img {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}
.Blogs-card-text {
  margin-top: 0.5em;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  color: white;
}
.Blogs-link{
  display: none;
  position:absolute;
  bottom: 0;
  left: 1em;
  font-size: 1.2em;
  color:white;
  align-items: center;
  gap: 1em;
}
.Blogs-card:hover {
  .Link-arrow {
    transform: translateX(15px);
  }
  .Blogs-card-img img {
    transform: scale(1.1);
  }
  .Blogs-link{
    display: flex;
  }
}
