.demo-cta-container {
    background-color: black; /* Assuming a dark background is needed */
    color:white;
    text-align: center;
    height: 30vh;
    align-items: center center;
}

.cta-message {
    font-size: 2.5em;
}

.cta-button {
    margin: 2em;
    margin-top: 3em;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #9C27B0; /* A purple shade */
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #7B1FA2; /* Darker purple on hover */
}
