.Homebanner-container {
  height: 100vh;
  background-image: url(../Assets/HomeBanner.jpg);
  background-repeat: no-repeat;
  background-position: 80% 100%;
}
.Homebanner-text {
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: end;
  color: white;
  margin-left: 1em;
  margin-bottom: 1em;
  gap: 0.5em;
  font-size: 2em;
  h1{
    font-weight: 500;
  }
  
}
.homebanner-scroll{
 width: 90px;
 height: 100px;
 position: absolute;
 right:0;
 bottom: 0;
}
