.Professional-features-container {
  display: flex;
  flex-direction: column;
}
.Professional-features-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
  gap: 2em;
  background: rgb(0, 0, 0);
  color: white;
  h1 {
    font-size: 5em;
    text-transform: uppercase;
    animation: fade-in linear;
    animation-timeline: view(300px 0px);
  }
  p {
    font-size: 3em;
    animation: fade-in linear;
    animation-timeline: view(300px 0px);
    text-align: center;
  }
}
.Professional-features-line {
  width: 0.05em;
  height: 10em;
  margin: auto;
  background: white;
}

.Professional-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  .Professional-features-text {
    position: relative;
    text-align: center;
    width: 30%;
    margin-top: 2em;
    animation: fade-in linear;
    animation-timeline: view(380px 0px);
    h1 {
      font-size: 1.7em;
      text-transform: uppercase;
    }
    p {
      font-size: 1.1em;
    }
  }
  .Professional-features-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      position: relative;
      width: 1.75em;
      height: 1.75em;
      border-radius: 50%;
    }
  }

  .Professional-features-line {
    position: relative;
    top: 0em;
    width: 0.05em;
    height: 5em;
    background: white;
  }
  .Professional-features-img {
    width: 25em;
    height: 12em;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    margin-top: 3em;
    animation: fade-in linear;
    animation-timeline: view(380px 0px);
    img {
      height: 100%;
      width: 100%;
    }
  }
  .Professional-features-last-line {
    position: relative;
    width: 0.05em;
    height: 8em;
    background: white;
  }
}
.register-button {
  width: 200px;
  height: 55px;
  margin-top: 2em;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 1em;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f3b243,
    #28abba,
    #7584a7,
    #e33a75
  );
  box-shadow: 0 0 20px #f3b243, 0 0 15px #28abba, 0 0 20px #7584a7,
    0 0 25px #e33a75; /* Multi-color neon glow effect */
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out, transform 0.3s ease, box-shadow 0.3s ease;
}

.register-button:hover {
  transform: scale(1.25); /* Scale up on hover */
  background-position: 100% 0; /* Shift the gradient on hover */
  box-shadow: 0 0 0px #f3b243, 0 0 0px #28abba, 0 0 10px #7584a7,
    0 0 40px #e33a75; /* Intensified multi-color neon glow effect */
}
@keyframes fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
