.scrolling-banner-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #000;
    color: white;
    padding: 10px;
    position: relative;
}

.scrolling-banner-text {
    display: inline-block;
    animation: scrollText 200s linear infinite;
    font-size: 5rem;
    color: white;
}

/* Keyframes for the scrolling text */
@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
