.Story-Info-Container {
  height: fit-content;
  width: 100%;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  box-sizing: border-box;
  /* background-color: black;
  color: white; */
  text-align: center;
}
.Story-Info {
  padding: 0em 2em 4em 2em;
}
.Story-Info-Sub {
  font-size: 1em;
  color: rgb(85, 84, 84);
}
.Story-Info-SubPara {
  margin-top: 1em;
  font-size: 1.6em;
}
.Story-Info-Subnote {
  font-size: 1.5em;
  text-align: left;
  width: 50%;
  margin: auto;
}

.Story-Info-SubDesc {
  font-size: 1.5em;
  width: 50%;
  margin: 1em auto auto auto;
  text-align: left;
  color: rgb(85, 84, 84);
}
@media (max-width: 1025px) {
  .Story-Info {
    padding: 0em 1em 4em 1em;
  }
  .Story-Info-SubPara {
    margin-top: 1em;
    font-size: 1.4em;
  }
  .Story-Info-Subnote {
    font-size: 1.5em;
    text-align: left;
    width: 50%;
    margin: auto;
  }
  .Story-Info-Subnote {
    font-size: 1.4em;
    width: 75%;
  }

  .Story-Info-SubDesc {
    font-size: 1.4em;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .Story-Info-Container {
    display: flex;
    box-sizing: border-box;
    /* background-color: black;
      color: white; */
    flex-direction: column;
    gap: 2em;
  }
  .Story-Info {
    padding: 0em;
    margin-bottom: 1em;
  }
  .Story-Info-Sub {
    width: 75%;
    text-align: left;
    margin: auto;
  }
  .Story-Info-SubPara {
    width: 75%;
    margin: auto;
    text-align: left;
  }
  .Story-Info-Subnote {
    font-size: 1.4em;
    width: 75%;
    text-align: left;
  }

  .Story-Info-SubDesc {
    font-size: 1.4em;
    width: 75%;
  }
}
