body {
    background-color: black;
}
body::-webkit-scrollbar{
    display: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'avenir', sans-serif;
}

.Homepage-Conatiner {
    background-color: white;

}

.background-gif {
    background-image: url('./Assets/BackgroundLine.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'avenir';
    src: url('./fonts/avenir_roman_12.otf');
}