.Blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Blog-content-header {
  position: relative;
  height: auto;
  background: #121212;
  color: white;
}
.Blog-content-header-text {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}
.Blog-content-header h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.Blog-content-img {
  width: 100vw;
  max-height: 75vh;
}
.Blog-content-text {
  padding-top: 1em;
  padding-left: 15em;
  padding-right: 15em;
  font-weight: 400;
  display: flex;
  gap: 3em;
  flex-direction: column;
  padding-bottom: 5em;
  font-size: 1.2em;
  h3 {
    font-weight: 400;
  }
}
.Blog-content-text-points {
  display: flex;
  flex-direction: column;
  gap: 1em;
  h2 {
    font-weight: 500;
  }
}
.Author-Details {
  text-align: right;
}
@media (max-width: 1025px) {
  .Blog-content-header h1 {
    font-size: 3em;
  }
  .Blog-content-text {
    padding-left: 8em;
    padding-right: 8em;h1 {
      font-size: 1.75em;
    }
  }
}
@media (max-width: 768px) {
  .Blog-content-header h1 {
    font-size: 2.5em;
  }
  .Blog-content-text {
    padding-left: 5em;
    padding-right: 5em;
    font-size: 1.1em;
    h1 {
      font-size: 1.5em;
    }
  }
}
@media (max-width: 480px) {
  .Blog-content-header h1 {
    font-size: 2em;
  }
  .Blog-content-text {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
  }
  .Blog-content-text-points {
    h1 {
      font-size: 1.25em;
    }
  }
}
